body {
    background-color: #f5f5f5;
}
/*版心容器*/
.jd_container {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;

}
.jd_search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
.jd_search .jd_search_box {
    width: 100%;
    height: 40px;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background: rgba(216,80,92,0);
    position: relative;
}
.jd_search .jd_search_box a {
    position: absolute;
    top: 0;
}
.jd_search .jd_search_box .logo {
    width: 40px;
    height: 30px;
    left: 10px;
    top: 5px;
    background: url("../images/logo.png") no-repeat;
}
.jd_search .jd_search_box .login {
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    right: 0;
}
.jd_search .jd_search_box form {
    width: 100%;
    padding-left: 60px;
    padding-right: 50px;
}
.jd_search .jd_search_box form input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 30px;
}
.jd_search .jd_search_box form .icon_search {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 65px;
    top: 12px;
    background-position: -122.5px 0;
}
/*轮播图*/
.jd_banner{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.jd_banner ul:first-child {
    width: 1000%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
}
.jd_banner ul:first-child li {
    width: 10%;
    float: left;
}
.jd_banner ul:first-child li a {
    width: 100%;
    display: block;
}
.jd_banner ul:first-child li a img {
    width: 100%;
    display: block;
}
.jd_banner ul:last-child {
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -59px;
    width: 118px;
}
.jd_banner ul:last-child li {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    float: left;
    margin-left: 10px;
}
.jd_banner ul:last-child li:first-child {
    margin-left: 0;
}
.jd_banner ul:last-child .now {
    background: #fff;
}
/*导航栏*/
.jd_nav{
    width: 100%;
    background-color: #fff;
}
.jd_nav ul{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.jd_nav ul li{
    width: 25%;
    float: left;
}
.jd_nav ul li a{
    display: block;
    width: 100%;
}
.jd_nav ul li a img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.jd_nav ul li a p{
    color: #666;
    font-size: 12px;
    padding: 5px 0;
    text-align: center;
}
/*商品区域*/
.jd_product {
    padding: 0 5px;
}
.jd_proBox {
    margin-top: 10px;
    box-shadow: 0 0 1px #d8d8d8;
    min-height: 200px;
}
.jd_proBox .pro_tit {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #ddd;
}
.jd_proBox .pro_tit .nb {
    border-bottom: none;
}
.jd_proBox .pro_tit h3 {
    position: relative;
    text-indent: 20px;
    font-weight: normal;
 }
.jd_proBox .pro_tit h3::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 11px;
    width: 3px;
    height: 12px;
    background: #d8505c;
}
.jd_proBox .pro_con {

}
.sk_icon{
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 7px;
    margin-left: 10px;
    background-position: -180.5px -70px;
}
.sk_text{
    color: #d8505c;
    margin-left: 10px;
    float: left;
}
.sk_time{
    float: left;
    margin-left: 10px;
}
.sk_time span{
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: #fff;
    background: #333;
    margin-left: 3px;
    float: left;
    margin-top: 7px;
}
.sk_time span:nth-child(3n) {
    background: #fff;
    color: #333;
    width: 3px;
}
.sk_product{
    width: 100%;
    padding: 10px 0;
}
.sk_product li{
    width: 33.33333%;
    float: left;
}
.sk_product li a{
    width: 100%;
    display: block;
    border-right: 1px solid #ddd;
}
.sk_product li:last-child a{
    border-right: none;
}
.sk_product li a img{
    width: 64%;
    margin: 0 auto;
    display: block;
}
.sk_product li p{
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
}
.sk_product li .now_price{
   color: #d8505c;
}
.sk_product li .old_price{
    color: #666;
    text-decoration: line-through;
}
/*组合样式*/
.w_p50{
    width: 50%;
}
.w_p50 img {
    display: block;
    width: 100%;
}
.b_left {
    border-left: 1px solid #ddd;
}
.b_right {
    border-right: 1px solid #ddd;
}
.b_bottom {
    border-bottom: 1px solid #ddd;
}